      .container{
            width: 80%;
            background: pink;
            height: auto;
            padding-bottom: 10vh;          

      }

      h2{
            text-align: center;
            font-size: 2rem;
            color: blue;
            padding-top: 2rem;
      }
  
      .insForm{
           width: 70%;
           margin: auto;           
      }
  